@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  nav {
    font-weight: 700;
    display: flex;
    gap: 1rem;
  }
}

.section0{
width:100px ;
height: 50px;
position: fixed;
top: 15px;
/* position: absolute; */

div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    color:black ;
    font-size: 20px;
    font-weight: 500;
  }
  img{
    width: 50px;
    height: 50px;
  }
}
}
.section1 {
  width: 100%;
  background-color: #f1bb13;
  display: flex;
  align-items: center;
  justify-content: center;
  .contaner {
    width: 70%;
    height: 90%;

    display: flex;
    align-items: center;
    img {
      width: 60%;
      height: 90%;
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      p {
        font-size: 1.125rem;
        text-transform: uppercase;
      }
      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: black;
        a {
          color: #34365a;
        }
      }
      button {
        background-color: #34365a;
        color: white;
        border-radius: 1rem;
        border: 0;
        padding: 1rem;
        width: 200px;
      }
    }
  }
}
.section2 {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  .contaner2 {
    width: 70%;
    background-color: #f1bb13;
    display: flex;
    flex-direction: column;
    .upper {
      width: 100%;
      padding: 15px;
      background-color: white;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      gap: 10px;
      align-items: center;

      h2 {
        /* padding: 1rem; */
        font-weight: 900;
        font-size: 2.5rem;
      }
      p {
        width: 588px;
        font-style: italic;
        /* padding: 1rem; */
      }
    }
    .lower {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .minisec2 {
        width: 50%;
        height: 40vh;
        background-color: aqua;
      }
      .mini1sec2 {
        width: 50%;
        background-image: url(./Image/fgfg.jpg);
        background-size: cover;
      }
      .img2 {
        width: 50%;
        background-image: url(./Image/yu.jpg);
        background-size: cover;
      }
      .img3 {
        width: 50%;
        background-image: url(./Image/89.jpg);
        background-size: cover;
      }
      #miniyell {
        background-color: #f1bb13;
      }
      #minigray {
        background-color: #34365a;
      }

      .parag1 {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        h3 {
          font-weight: 500;
          font-size: 30px;
        }
        p {
          font-style: italic;
          a {
            color: black;
          }
        }
        button {
          background-color: #f1bb13;
          border: 4px solid #34365a;
          border-radius: 2rem;
          border-width: 5px;
          border-color: #34365a;
          width: 40%;
          height: 3rem;
          color: #34365a;
          text-transform: uppercase;

          &:hover {
            background-color: white;
            color: black;
            border: 4px solid white;
          }
        }
      }

      .parag2 {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        h3 {
          font-weight: 500;
          font-size: 30px;
        }

        button {
          background-color: #34365a;
          border: 4px solid #ffffff;
          border-radius: 2rem;
          border-width: 5px;
          text-transform: uppercase;

          width: 40%;
          height: 3rem;
          color: #000000;
          &:hover {
            background-color: white;
            color: #34365a;
            border: 4px solid white;
          }
        }
      }
    }
  }
}

.section3 {
  width: 100%;
  height: 100%;
  background-color: rgb(157, 58, 58);
  .sec3up {
    width: 100%;
    height: 80vh;
    background-color: #34365a;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    h1 {
      color: white;
      font-size: 30px;
      font-weight: 900;
    }
    p {
      color: white;
    }
    .divbutt {
      width: 30%;
      height: 30px;
      display: flex;
      justify-content: space-between;

      gap: 2%;
      .but2 {
        width: 49%;
        text-transform: uppercase;
        height: 3rem;
        color: #34365a;
        border: 4px solid white;
        border-radius: 3rem;
        transition: all ease 300ms;

        &:hover {
          background-color: #34365a;
          color: white;
        }
      }
      .but1 {
        width: 49%;
        text-transform: uppercase;
        height: 3rem;
        background-color: #34365a;
        color: white;

        border: 4px solid white;
        border-radius: 3rem;
        transition: all ease 300ms;
        &:hover {
          background-color: white;
          color: #34365a;
        }
      }
    }
  }
  .sec3lower {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    /* justify-content: center; */
    .sec3main {
      width: 70%;
      display: flex;
      flex-direction: column;

      .sec3mainup {
        height: 50vh;

        width: 100%;
        position: relative;
        .imgup1 {
          height: 80vh;

          width: 60%;
          background-image: url(./Image/ddd.jpg);
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          /* gap: 2%; */
          position: absolute;
          top: -250px;
          /* right: 0; */
          .contain {
            position: absolute;
            top: 90px;
            right: -350px;
            padding: 2rem 1rem;
            width: 80%;
            /* height: 80%; */
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h2 {
              font-size: 3rem;
              font-weight: 900;
            }
            a {
              color: #000000;
              text-transform: capitalize;
            }
            button {
              background-color: #34365a;
              border: 4px solid #ffffff;
              border-radius: 2rem;
              border-width: 5px;
              text-transform: uppercase;

              width: 40%;
              height: 4rem;
              color: #000000;
              &:hover {
                background-color: #f1bb13;
                color: #34365a;
                border: 4px solid white;
              }
            }
          }
        }
      }
      .sec3maincenter {
        width: 100%;
        height: 50vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .centeriqon {
          width: 23%;
          height: 100%;
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          .iqon {
            width: 100px;
            height: 100px;
            background-color: #f1bb13;
            border-radius: 50%;
            position: relative;
          }
          img {
            height: 70%;
            position: absolute;
            top: 50px;
            right: 50px;
          }
        }
        /* .Strategy{
            width: 50%;
            background-image: url(./Image/xo.png);
            background-size: cover;
          } */
        h4 {
          padding: 15px;
          font-weight: 500;
        }
      }
    }
    .sec3mainlower {
      width: 100%;
      /* background-color: rgb(11, 11, 11); */
      display: flex;
      justify-content: center;
      gap: 2%;
      .sec3left {
        width: 49%;
        /* height: 100%; */
        /* background-color: #1b1a18; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .sec3leftup {
          width: 90%;
          /* height: 40vh; */
          background-color: #f1bb13;
          border-radius: 0 0 2rem 2rem;
          padding: 1rem;
          p {
            font-size: 1.2rem;
            text-transform: uppercase;
          }
          h2 {
            font-weight: 900;
            font-size: 45px;
          }
        }
        .sec3leftlow {
          width: 90%;
          /* height: 50vh; */
          padding: 2rem;
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          /* align-items: center; */

          /* gap: 3%; */
          a {
            color: #1b1a18;
            text-transform: capitalize;
          }
          button {
            background-color: #34365a;
            border: 4px solid #ffffff;
            border-radius: 2rem;
            border-width: 5px;
            text-transform: uppercase;

            width: 40%;
            height: 4rem;
            color: #000000;
            &:hover {
              background-color: #f1bb13;
              color: #34365a;
              border: 4px solid white;
            }
          }
        }
      }
      .sec3right {
        width: 49%;
        height: 100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .sec3rightup {
          width: 50%;
          height: 50%;
          background-image: url(./Image/girl.jpg);
          background-size: cover;
          border-radius: 50%;
        }
        .sec3rightcenter {
          width: 100%;

          background-color: #ffffff;
          display: flex;
          justify-content: center;
          gap: 100px;
          h4 {
            text-transform: uppercase;
          }
          .sec3rightiqon {
            width: 100px;
            height: 100px;
            background-color: #34365a;
            background-image: url(./Image/ui.png);
            background-size: cover;
            border-radius: 50%;
          }
          .sec3righticontant {
            width: 60%;
            height: 100%;
          }
        }
        .sec3rightlower {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 100px;
          h4 {
            text-transform: uppercase;
          }

          .sec3rightiqon {
            width: 100px;
            height: 100px;
            background-color: #34365a;
            background-image: url(./Image/database.png);
            background-size: cover;
            border-radius: 50%;
          }
          .sec3righticontant {
            width: 60%;
            height: 100%;
          }
        }
      }
    }
  }
}

.section4 {
  width: 100%;
  height: 100vh;
  /* padding: 1rem 10rem; */
  background-color: #f1bb13;

  .sec4main {
    width: 100%;
    height: 100vh;
    padding: 1rem 0 1rem 10rem;
    background-color: #f1bb13;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;   */
    .sec4mainleft {
      width: 50%;
      height: 100%;
      /* background-color: #ffffff; */
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      gap: 2rem;

      .psec4 {
        font-size: 26px;
        font-weight: 200;
        font-style: oblique;
        text-transform: uppercase;
      }
      p {
        font-size: 26px;
        font-weight: 200;
        /* font-style: oblique; */
      }
      h2 {
        font-size: 44px;
        font-weight: 600;
      }
      span {
        font-style: italic;
        font-weight: 200;
        font-size: 20px;
        a {
          color: #1b1a18;
          text-transform: capitalize;
        }
      }
      button {
        background-color: #34365a;
        border: 4px solid #ffffff;
        border-radius: 2rem;
        border-width: 5px;
        text-transform: uppercase;

        width: 40%;
        height: 3rem;
        color: #000000;
        &:hover {
          background-color: white;
          color: #34365a;
          border: 4px solid white;
        }
      }
    }
    .sec4mainright {
      width: 50%;
      height: 100%;
      /* background-color: #34365a; */
      background-size: cover;
      background-image: url(./Image/clock-min.png);
    }
  }
}
.section5 {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* position: relative; */

  .sec5main {
    width: 100%;
    height: 100vh;
    /* background-color: #34365a; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .sec5left {
      width: 40%;
      height: 70%;
      .sec5leftup {
        width: 100%;
        height: 400px;

        color: white;
        background-image: url(./Image/meeting.jpg);
        background-size: cover;
        .sec5h2 {
          width: 100%;
          height: 100%;
          padding: 8rem 2em;
          background-color: #0000008a;
        }
      }
      .sec5leftlow {
        width: 100%;
        height: 400px;
        /* background-color: aqua; */
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
        .sec5leftlowleft {
          width: 50%;
          height: 270px;
          background-image: url(./Image/boyAndLap.jpg);
          background-size: cover;
        }
        .sec5leftlowright {
          width: 50%;
          height: 270px;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          background-color: #f1bb13;
          padding: 3rem 2rem;
          p {
            font-weight: 300;
            font-size: 13px;
          }
          h2 {
            font-weight: 900;
            font-size: 20px;
          }
          .sec5rightlink {
            display: flex;
            gap: 1rem;
            /* justify-content: center; */
          }
        }
      }
    }

    /* background-color: #f1bb13; */
  }
  .sec5right {
    width: 40%;
    height: 70%;
    /* background-color: #34365a; */
    /* background-color: aqua; */
    .sec5rightup {
      background-color: #34365a;
      width: 100%;
      /* height: 300px; */
      padding: 2rem 3rem;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .psec5 {
        font-size: 13px;
        font-weight: 300;
        font-style: oblique;
      }
      p {
        font-size: 26px;
        font-weight: 200;
        /* font-style: oblique; */
      }
      h2 {
        color: white;
        font-size: 24px;
        font-weight: 600;
      }
      span {
        font-style: italic;
        font-weight: 200;
        font-size: 20px;
        a {
          color: white;
          text-transform: capitalize;
        }
      }
      button {
        background-color: #34365a;
        border: 4px solid #ffffff;
        border-radius: 2rem;
        border-width: 5px;
        text-transform: uppercase;
        color: white;

        width: 10rem;
        height: 3rem;
        /* color: #000000; */
        &:hover {
          background-color: white;
          color: #34365a;
          border: 4px solid white;
        }
      }
    }
    .sec5rightlow {
      width: 100%;
      height: 400px;
      background-image: url(./Image/Happy.jpg);
      background-size: cover;
    }
  }
}

.section6 {
  width: 100%;
  /* height: 90vh; */

  .sec6center {
    width: 100vw;
    /* height: 150vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #34365a;
    position: relative;

    img {
      width: 100%;
      height: 100vh;
    }

    .centerup {
      position: absolute;
      bottom: 677px;
      left: 300px;
      width: 50%;
      /* height: 50vh; */
      padding: 1rem 2rem;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;

      p {
        font-size: 26px;
        font-weight: 200;
        /* font-style: oblique; */
      }
      h2 {
        color: rgb(26, 25, 25);
        font-size: 30px;
        font-weight: 900;
        /* height: 20vh; */
        /* margin: 2rem 0; */
      }
      span {
        /* font-style: italic; */
        font-weight: 200;
        font-size: 20px;
        a {
          color: black;
          text-transform: capitalize;
        }
      }
      button {
        background-color: #34365a;
        border: 4px solid #ffffff;
        border-radius: 2rem;
        border-width: 5px;
        text-transform: uppercase;
        color: white;

        width: 10rem;
        height: 3rem;
        /* color: #000000; */
        &:hover {
          background-color: white;
          color: #34365a;
          border: 4px solid white;
        }
      }
    }
    .centerlow {
      width: 70%;
      /* height: 100vh; */
      /* background-color: rgb(23, 22, 22); */
      padding: 3rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 100px;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      .h2div {
        width: 100vh;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          color: white;
          font-size: 30px;
          font-weight: 900;
        }
      }

      .centerlowlow {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
        height: 90%;
        position: relative;
        .imgup {
          width: 100%;
          height: 40%;
          display: flex;
          padding: 0 3rem;
          /* gap: 4%; */
          justify-content: space-between;
          position: absolute;
          top: -100px;
          .div4 {
            /* position: absolute; */
            width: 20%;
            height: 150px;
            padding: 1rem 2rem;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            span {
              font-size: 30px;
              color: #f1bb13;
              font-weight: 900;
            }
          }
        }
        .imglow {
          width: 100%;
          height: 50vh;
          background-image: url(./Image/vbvbvbvb.jpg);
          display: flex;
          justify-content: center;
          align-content: center;
        }
        p {
          color: white;
          a {
            color: white;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
.section7 {
  width: 100%;
  /* height: 100vh; */
  padding: 5rem 10rem;
  background-color: #34365a;
  .contentup {
    width: 100%;
    /* height: 60vh; */
    /* background-color: #ffffff; */
    display: flex;
    flex-wrap: wrap;

    .contentupleft {
      width: calc(100% / 3);
      height: 100%;
      padding: 1rem 3rem;
      gap: 2rem;
      background-color: #34365a;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: 20px;
        color: white;
        font-weight: 100;
      }
      h2 {
        font-size: 40px;

        font-weight: 900;
      }
      h5 {
        font-size: 30px;
        color: white;
        font-weight: 600;
        font-style: oblique;
      }
      .sec7link {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;
      }
    }
    .contentupcenter {
      width: calc(100% / 3);
      height: 100%;
      padding: 1rem 3rem;
      font-size: 25px;
      text-transform: capitalize;
      /* background-color; */
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      color: white;
      gap: 2rem;
     
    }
    .contentupright {
      width: calc(100% / 3);
      height: 100%;
      /* background-color: aquamarine; */
      display: flex;
      flex-direction: column;
      /* justify-content: space-between; */
      padding: 1rem 3rem;
      gap: 2rem;

input{
  width: 100%;
  height: 50px;
  &::placeholder{
    padding: 0 5px ;
  }
}
textarea{
  width: 100%;
  height: 150px;
}
button{
  background-color: #f1bb13;
  border:none;
  border-radius: 2rem;
  border-width: 5px;
  text-transform: uppercase;
  color: black;
font-size: 20px;
font-weight: 400;
  width: 100%;
  height: 3rem;
  /* color: #000000; */
  &:hover {
    background-color: grey;
    color: #34365a;
    border: 4px solid white;
  }  
}
    }
  }

}
.section8{
  width: 100%;
  /* height: 40vh; */
  .contentlow{
    width: 100%;
    /* height: 20vh; */
    padding: 2rem 4rem;
    background-color: #1b1a18;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p{
      padding: 2rem 0;

      color: white;
    }
  }
}